/* @font-face { */
/*     font-family: interform; */
/*     src: url(/fonts/interform.otf); */
/* } */

@font-face {
    font-family: gradvis;
    src: url(/fonts/gradvis-regular.ttf);
}

*, h1, h2, h3 {
    font-family: gradvis;
    font-weight: lighter;
}

h2, h3 {
    margin-bottom: 0px;
    font-family: gradvis;
}

ul {
	font-size: 0.9em;
	line-height: 1.4em;
}

.title {
    font-family: gradvis;
}

p {
    font-family: Helvetica, sans-serif;;
    font-weight: lighter;
}
