---
layout: default
robots: noindex
---
<!-- <div class="content-wrapper projects-panel">
     <div class="content-wrapper__inner">
     <ul class="timeline">
     {% for project in site.data.projects %}

     <li class="timeline-inverted">
     <div class="timeline-image">
     <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
     </div>
     <div class="timeline-panel">
     <div class="timeline-heading">
     <h4><a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank">{{ project.name }}</a></h4>
     </div>
     <div class="timeline-body">
     {{ project.desc | markdownify }}
     <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn" style="margin-top: 10px;">
     <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
     <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;&emsp;
     <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers"><i class="far fa-eye"></i><span class="watchers">...</span></a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers">
     <div style="height: 10px;"></div>
     </div>
     </div>
     </li>
     {% endfor %}
     </ul>

     </div>
     {% include footer.html %}
     </div>
     </div>
-->
<div class="content-wrapper research-panel">
  <div class="content-wrapper__inner">

    <ul class="timeline">
      {% for publication in site.data.research %}

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ publication.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://{{ publication.doi }}" target="_blank">{{ publication.name }}</a></h4>
          </div>
          <div class="timeline-body">
            {{ publication.desc | markdownify }}
            <strong>{{ publication.year }}</strong>
          </div>
      </li>
      {% endfor %}
    </ul>
        </div>
        {% include footer.html %}
  </div>
</div>

<div class="content-wrapper games-panel">
  <div class="content-wrapper__inner">
    <ul class="timeline">
      {% for game in site.data.games %}

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ game.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/{{ game.gh_user }}/{{ game.repo }}" target="_blank">{{ game.name }}</a></h4>
          </div>
          <div class="timeline-body">
            {{ game.desc | markdownify }}
            <br>
            <a target="_blank" href="{{ game.download_url }}">Download</a>
            <div user="{{ game.gh_user }}" repo="{{ game.repo }}" class="ghbtn" style="margin-top: 10px;">
              <a target="_blank" href="https://github.com/{{ game.gh_user }}/{{ game.repo }}/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ game.gh_user }}/{{ game.repo }}/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ game.gh_user }}/{{ game.repo }}/watchers"><i class="far fa-eye"></i><span class="watchers">...</span></a target="_blank" href="https://github.com/{{ game.gh_user }}/{{ game.repo }}/watchers">
              <div style="height: 10px;"></div>
            </div>
          </div>
      </li>
      {% endfor %}
    </ul>

        </div>
        {% include footer.html %}
  </div>
</div>
