html {
    display: table;
    margin: auto;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fcfcfc;
    padding: 0px 20px 0px 20px;
    display: table-cell;
    vertical-align: middle;
}

hr {
    border: 2px solid rgb(51,94,176);
}

p {
    font-size: 11pt;
}

ul {
    margin-top: 3px;
}

a {
    color: #5555bb;
    text-decoration: none;
}

a:hover {
    color: #dd3333;
}

.titlebar {
    font-size: 20pt;
    font-weight: bold;
    color: rgb(51,94,126);
}

.menu {
    float: left;
    padding: 10px 0px 10px 0px;
    align: center;
    width: 720px;
}

.menu-item {
    padding: 0px 20px 0px 0px; 
    float: left;
    font-weight: bold;
    font-size: 14pt;
}

.menu-item a {
    color: #666666;
    text-decoration: none;
}

.menu-item a:hover {
    color: #dd3333;
}

.content {
    clear: left;
    float: left;
    width: 720px;
    margin-bottom: 40px;
    font-size: 11pt;
}

.photo {
    float: center;
    margin-left: 260px;
}

.contact {
    margin-left: 20px;
    display: table;
}

.contact-image {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    padding-bottom: 2px;
}

.contact-link {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 12pt;
}

.cv {
    display: table;
    float: left;
}

.cv-header {
    display: table-cell;
    font-weight: bold;
    font-size: 14pt;
    float: left;
    clear: left;
    margin-top: 20px;
    margin-bottom: -5px;
    border-bottom: 3px solid rgb(51,94,176);
}

.cv-period {
    display: table-cell;
    float: left;
    clear: left;
    padding-right: 10px;
    font-weight: bold;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}

.cv-entry {
    display: table-cell;
    float: left;
    margin-top: 10px;
}

.cv-details {
    display: table-cell;
    float: left;
    font-size: 10pt;
    margin-left: 110px;
    margin-bottom: 8px;
}

.rs-period {
    display: table-cell;
    float: left;
    clear: left;
    padding-right: 10px;
    font-weight: bold;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}

.rs-entry {
    display: table-cell;
    float: left;
    margin-top: 10px;
    width: 610px;
    font-weight: bold;
}

.rs-authors {
    display: table-cell;
    float: left;
    margin-left: 110px;
    width: 610px;
}

.rs-details {
    display: table-cell;
    float: left;
    font-size: 10pt;
    margin-left: 110px;
    clear: left;
}

.rs-link {
    display: table-cell;
    float: left;
    font-size: 10pt;
    margin-left: 110px;
    margin-bottom: 8px;
    clear: left;
}
